table {
	font-size     : 15px;
	font-family   : Consolas, 微軟正黑體;
	margin-left   : auto;
	margin-right  : auto;
	border-spacing: 0px;
	border        : 1px solid #333;
}

table th {
	width           : 1000px;
	border          : 1px solid #333;
	padding         : 1px;
	background-color: #134f5c;
	color           : #fff;
}

table td {
	width      : 1000px;
	border     : 1px solid #333;
	padding    : 1px;
	white-space: nowrap;
	word-wrap  : break-word;
	white-space: pre-wrap;
}

table tr th:first-child,
table tr td:first-child {
	width: 200px;
}

table tr:nth-child(odd) td {
	background-color: #fff;
}

table tr:nth-child(even) td {
	background-color: hsl(180, 50%, 90%);
}